<% layout ("/layouts/boilerplate.ejs") -%>
<body>

  <style>
    .filters{
       display: flex;
       flex-wrap: wrap;
      align-items: center;
    }
    .filter{
      margin-right: 2rem;
      text-align: center;
      opacity: 0.7;
    }
    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }
    .filter p{
      font-size: 0.8rem;
    }
    .taxInfo{
      display: none;
    }
    .toggle-switch{
      margin:1rem 0 0 3rem;
      border:1px solid black;
      border-radius:1rem;
      padding:0.5rem 1rem;
      
    }
  </style>



  <!-- <h2>All listings</h2> -->
  <div class="filters">
    <div class="filter" onclick="searchKey('home river hotel forest villa hills')">
      <div><i class="fa-solid fa-fire"></i></div>
     <p>Trending</p> 
    </div>
    <div class="filter" onclick="searchKey('rooms home hostels hotel villa apartment')">
      <div><i class="fa-solid fa-bed"></i></div>
     <p>Rooms</p> 
    </div>
    <div class="filter" onclick="searchKey('iconic cities new york')">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
     <p>iconic cities</p> 
    </div>
    <div class="filter" onclick="searchKey('castles palace fort ')">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
     <p>Castles</p> 
    </div>
    <div class="filter" onclick="searchKey('pool ')">
      <div><i class="fa-solid fa-person-swimming"></i></div>
     <p>Amazing Pool</p> 
    </div>
    <div class="filter" onclick="searchKey('camp mountain hills ')">
      <div><i class="fa-solid fa-tents"></i></div>
     <p>Camping</p> 
    </div>
    <div class="filter" onclick="searchKey('farm')">
      <div><i class="fa-solid fa-tractor"></i></div>
     <p>Farms</p> 
    </div>
    <div class="filter" onclick="searchKey('snow agtice ice')">
      <div><i class="fa-solid fa-snowman"></i></div>
     <p>Agtice</p> 
    </div>
    <div class="filter" onclick="searchKey('water river waterfall')">
      <div><i class="fa-solid fa-sailboat"></i></div>
     <p>Boats</p> 
    </div>
    <div class="filter" onclick="searchKey('animal wildlife forest nature river park')">
      <div><i class="fa-solid fa-paw"></i></div>
     <p>wildlife</p> 
    </div>
    <div class="filter" onclick="searchKey('curch tample fort palace')">
      <div><i class="fa-solid fa-place-of-worship"></i></div>
     <p>Historic</p> 
    </div>
    <div class="toggle-switch">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display Total after Taxes</label>
      </div>
    </div>
  </div>
            

<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 mt-3">
  <% for ( let listing of allListings){%>
    <div class="card col" >
      <a href="/listing/<%=listing._id%>" class="listing-link ">  
        <div class="card-img-overlay"></div>
      
        <img src="<%= listing.image.url%>" class="card-img-top" alt="<%= listing.title %>">
        
        <div class="card-body">
         <b><p class="card-text"><b><%= listing.title %></b></p></b> 
         
          <p class="card-text">&#8377;<%= listing.price %>/night
            <i class="taxInfo"> &nbsp; &nbsp;18% GST</i>
          </p>
          <!-- price.toLocaleString("en-IN") -->
        </div>
      </a> 
      <button class="wishList-btn" title="Add to wishList" onclick="toggleFA(this,'<%=listing._id%>',event)" type="button">
        <% if (wishListIds.includes(listing._id.toString())){ %>
          <i class="fa-solid fa-heart"></i>
        <%} else{%>
        <i class="fa-regular fa-heart"></i>
      <%}%>
      </button>
    </div>
    <% }%>
</div>
</body>

<script>
  let taxSwitch = document.getElementById("switchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
   let taxInfo = document.getElementsByClassName("taxInfo");
   
   for(info of taxInfo){
    if(info.style.display != "inline"){
      info.style.display = "inline";
    }else{
      info.style.display = "none";
    }
   }
  })
  
  // for the icons to give result accounding to it defination
  function searchKey(keyword){
    window.location.href= `/listing/search?q=${encodeURIComponent(keyword)}`;
  }

  // wishlisting the listing 
    async function toggleFA(btn,listingId,event){
      event.preventDefault();
      event.stopPropagation();
     console.log("clicked");

    const response= await fetch(`/listing/wishlist/${listingId}`,{method:"post"});
    console.log(response)
    
    let result ;
    try{
      result =  response.json(); // it give use that listing is added or removed.

    // const button = document.querySelector(`[onclick="toggleFA('${listingId}')"]`);
    const icon = btn.querySelector('i');

    if(result.added){
      icon.classList.remove('fa-solid');
      icon.classList.add('fa-regular');
    }
    else{
      icon.classList.remove('fa-regular');
      icon.classList.add('fa-solid');
    }
   }
   catch(error){
     window.location.href= "/login";
   }
  }
</script>